body {
  font-family: Helvetica, arial, sans-serif;
  font-size: 1em;
  margin-top: 5px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  display: center;
  text-align: justify;


}

.ex1 {
  font-size: 42px;
  font-family: Helvetica;
  line-height: 36px;
}


p {
  font-size: 42px;
  font-family: Helvetica;
  line-height: 36px;
}

marquee {
 font-size: 20px;
 font-family: Times New Roman;
 overflow: hidden;
 position: relative;
 color: BLUE;
}

message {
  font-size: 42px;
  font-family: Helvetica;
  line-height: 36px;
  color: #ff0000;
}
