body {
  font-family: Helvetica, arial, sans-serif;
  font-size: 1em;
  margin-top: 5px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  display: center;
  text-align: justify;


}


marquee {
 font-size: 20px;
 font-family: Times New Roman;
 overflow: hidden;
 position: relative;
 color: BLUE;
}



div.ex1 {
  text-align: left;
  border: 1px solid;
  margin: 20px;
  height: 250px;
  outline: 70px double red;
  outline-offset: 5px;
  font-family: Baskerville;
  color: #009933;
  font-size: 35px;
  background-color: white;
  color: blue;
  resize: both;
  overflow: auto;
  padding: 20px;


}

div.ex2 {
  border: 1px solid;
  width: 1355px;
  margin: 20px;
  outline: 50px dashed red;
  outline-offset: 5px;
  font-family: Comic sans ms;
  color: #009933;
  font-size: 50px;
  background-color: white;
  color: blue;
  resize: both;
  overflow: auto;
  padding: 20px;
  padding-top: 0px;
  }

  div.ex3 {
    border: 1px solid;
    width: 1355px;
    height: 120px;
    margin: 20px;
    outline: 50px dashed red;
    outline-offset: 5px;
    font-family: Comic sans ms;
    color: #009933;
    font-size: 50px;
    background-color: white;
    color: blue;
    resize: both;
    overflow: auto;
    padding: 20px;
    padding-top: 0px;
    }
